.navbar-nav a{
   font-weight: bold!important;
   font-size: 18px;
   color: #000;
}
.navbar-nav {
    margin-left: auto;
}
.navbar-nav a:hover{
    color: #F58588;
}
.navbar-brand{
    color: #F58588!important;
}