.statistics_data{
    margin: 100px auto;
}
@media screen and (max-width: 400px) {
    .recharts-surface{
        width: 300px!important;
        height: 300px!important;
    }
    .statistics_data{
        margin: none;
    }
}